@import '../../styles/app';

.root {
  left: 0;
  top: 50%;
  margin-top: -192.5px;
  position: absolute;
  width: 100%;
}

.widget {
  width: 385px;
  margin: 0 auto;

  header {
    margin: 15px 0 25px;

    h4 {
      font-size: 14px;
      font-weight: $font-weight-semi-bold;
    }
  }

  .label {
    font-weight: $font-weight-thin;
  }

  :global .form-control {
    font-size: $font-size-base;
  }
}

.navbarForm {
  padding: 6px 0;
  width: auto;

  .input-group-addon{
    padding: 6px 7px;
    i{
      &, &:before, &:after{
        width: 20px;
        margin: 0;
      }
    }
  }
}

.formActions {
  margin: 0 (-$widget-padding-horizontal);
   padding: 20px 15px 0 15px;

  .smallCircle {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.2);
  }

  .forgot {
    display: block;
    text-align: center;
    color: white;
    padding: 15px 0;
  }
}

.footer {
  margin: 0 (-$widget-padding-horizontal);
    border-bottom-left-radius: $border-radius-base;
    border-bottom-right-radius: $border-radius-base;
    overflow: hidden;
    position: static;

  .facebookLogin {
    height: 30px;
    background: $blue;
    text-align: center;
    padding-top: 10px;

    :global a {
      color: $white;
      display: block;
      text-shadow: none;
      text-decoration: none;
    }
  }
}

