@import '../../styles/app';

.root {
  left: 0;
  top: 50%;
  margin-top: -192.5px;
  position: absolute;
  width: 100%;
}

.widget {
  width: 385px;
  margin: 0 auto;

  header {
    margin: 15px 0 25px;

    h4 {
      font-size: 14px;
      font-weight: $font-weight-semi-bold;
    }
  }

  .label {
    font-weight: $font-weight-thin;
  }

  :global .form-control {
    font-size: 14px;
  }
}

.navbarForm {
  padding: 6px 0;
  width: auto;

  .inputAddon {
    border: none;
    padding: 6px 7px;
    color: $white-dark;
    transition: background-color ease-in-out 0.15s;
    background-color: $bg-addition;

    i {
      width: 20px;
      font-size: 13px;
    }
  }

  input,
  input:active {
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    padding: 0.6rem 0.85rem 0.6rem 0;
    color: #d2d2d2;
    font-size: 1rem;
    background-color: $widget-bg;
    border: 1px solid rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  }
}

.formActions {
  margin: 0 -20px;
  padding: 20px 15px 0;
  background: $bg-addition;

  .smallCircle {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    margin-right: 3px;
    background: rgba(0, 0, 0, 0.2);
  }

  .forgot {
    display: block;
    text-align: center;
    color: white;
    padding: 15px 0;
  }
}

.footer {
  margin: 0 -20px -20px -20px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  overflow: hidden;
  position: static;

  .facebookLogin {
    height: 30px;
    background: #0275d8;
    text-align: center;
    padding-top: 10px;
  }
}

