
@import '../../styles/app';

.root {
  // some styles
}

.pageTitle {
  color: $white;
  font-weight: 300;
  line-height: 1;
  margin: 11px 0 $line-height-computed;

  small {
    color: rgba($white, 0.7);
  }
}
