@import '../../styles/app';

.root {
  :global {
    .post-comments footer {
      margin: 0 (-$widget-padding-horizontal) (-$widget-padding-vertical);
      padding: $widget-padding-vertical $widget-padding-horizontal;
    }

    .stat-item .name {
      margin-top: 10px;
    }

    .list-group-item:hover {
      background-color: $bg-addition;
    }

    .detail {
      .x_label {
        background: $widget-bg-color !important;
      }
    }
  }
}

.table {
  :global(.table.table-sm) {
    --bs-table-bg: transparent;
    --bs-table-color: #fff;
    --bs-table-border-color: rgba(255, 255, 255, 0.14);
    --bs-table-striped-color: #fff;
    --bs-table-striped-bg: rgba(199, 208, 255, 0.08);
    margin-bottom: 0;

    th,
    td {
      background-color: transparent;
      color: #fff;
      border-color: rgba(255, 255, 255, 0.14);
    }

    tbody tr:nth-of-type(odd) > * {
      background-color: rgba(199, 208, 255, 0.08);
    }

    tbody tr:nth-of-type(even) > * {
      background-color: transparent;
    }
  }

  :global(.table.table-sm.table-striped) {
    td {
      font-size: 1rem;
      vertical-align: middle;
    }
  }
}

.searchBtn {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
