@import '../../../styles/app';

.headerLink {
  a {
    display: block;
    color: $sidebar-color;
    text-decoration: none;
    cursor: pointer;
  }

  > a {
    position: relative;
    padding-left: 50px;
    line-height: 35px;

    a:hover,
    a:focus {
      background: $sidebar-item-active-bg;
    }

    > i {
      margin-right: 7px;
    }
  }

  .icon {
    display: block;
    position: absolute;
    top: 3px;
    left: 11px;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;

    i {
      color: rgba(170, 170, 170, 0.7);
    }
  }
}

a.headerLinkActive {
  font-weight: 700;
}

