.alert-dismissible .close {
  padding: 0;
}

.navbar,
.sidebar {
  .alert-dismissible .close {
    top: -1px;
    right: 0;
    padding-left: 10px;
    color: $white-dark;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.navbar {
  .dropdown-menu {
    .dropdown-item {
      color: $white;

      &:hover {
        background-color: $header-dropdown-item-hover;
        cursor: pointer;
      }
    }
  }
}

.form-control{
  &.input-transparent{
    border: none;
    color: $input-transparent-color;
    background-color: $widget-bg;
    @include placeholder($input-transparent-placeholder-color);

    &:focus{
      color: $input-transparent-color;
      @include box-shadow(inset 0 1px 1px rgba(0,0,0,.2));
    }

    &[disabled],
    &[readonly],
    fieldset[disabled] & {
      background-color: lighten($widget-bg, 10%);
    }
  }
}

.form-actions {
  padding: ($line-height-computed - 1) 20px $line-height-computed;
  margin-top: $line-height-computed;
  background-color: $bg-addition;
  @include clearfix(); // Adding clearfix to allow for .pull-right button containers
}
