.alert-dismissible .close {
  padding: 0;
}

.navbar,
.sidebar {
  .alert-dismissible .close {
    top: -1px;
    right: 0;
    padding-left: 10px;
    color: $white-dark;
    font-size: 1.2rem;
    font-weight: bold;
  }
}

