@import '../../styles/app';

.root {
  height: 100%;
}

.wrap {
  min-height: 100%;
  position: relative;
  margin-left: 185px;
}

.content {
  min-height: 100%;
  padding: #{$navbar-height + $content-padding-vertical} $content-padding-horizontal ($content-padding-vertical + 20px);
}

.logo {
  box-sizing: content-box;
  position: absolute;
  margin-top: 9px;
  margin-bottom: 9px;
  left: 65px;
  top: 17px;
  z-index: 1;
}
