@import '../../styles/app';

.root {
  height: 100%;
}

.wrap {
  min-height: 100%;
  display: flex;

  @media (max-width: breakpoint-max('sm')) {
    flex-direction: column;
  }
}

.content {
  min-height: 100%;
  padding: 25px 2.5641%;
  flex: 1;

  @include transition(opacity 0.2s);
}
