@import '../../../styles/app';

.sortableHeaderContainer {
  display: flex;
  align-items: center;
}

.sortArrowsContainer {
  display: flex;
  flex-direction: column;
}

.rotatedArrow {
  transform: rotate(180deg);
}

.legacyTableWrapper {
  overflow-x: auto;
}

.pageSizeSelect {
  width: 86px;
}

:global {
  .ReactTable .rt-thead.-filters input, .ReactTable .rt-thead.-filters select {
    background: $bg-custom-dark;
    color: $content-color;      
  }
  .ReactTable .-pagination input, .ReactTable .-pagination select {
    background: $bg-custom-dark;
    color: $content-color;   
  }
  .ReactTable .-pagination .-btn {
    background: $subtle-blue;
    color: $white;
  }
}
