@import '../../styles/app';

.navbar {
  align-items: flex-end;
  height: 62px;
}

.alert {
  display: block;
  margin: 6px 20px 16px;
  transition: margin-top 0.2s ease;
  background: $text-transparent;
  border: none;
  font-size: 0.75rem;
  line-height: 20px;
  padding: 2px 8px 0;
  color: #f8f8f8;
  border-radius: 10px;

  button {
    color: #f8f8f8;
    font-weight: bold;
  }
}

.navbarForm {
  padding: 6px 0;
  margin-left: 10px;
  width: auto;

  .inputAddon {
    border: none;
    background-color: #fff;
    transition: background-color ease-in-out 0.15s;
  }

  input {
    font-size: 13px;
    border: none;
    padding: 0.6rem 0.85rem 0.6rem 0;
  }
}

.divider {
  display: block;
  height: 38px;
  width: 1px;
  margin: 0 20px;
  background: linear-gradient(rgba($text-transparent, 0), $text-transparent, rgba($primary-gray, 0));
}

.dropdownNavIcon {
  color: $text-transparent;
  padding: 0;
  font-size: 1.2rem;
  outline: 0;
  background: none;
  text-align: center;
  vertical-align: middle;
  line-height: 36px;
  text-shadow: none;

  &:hover {
    color: $white;
  }
}

.image {
  float: left;
  width: 40px;
  margin-top: 7px;
}

.imageAccount {
  width: 50px;
  margin-right: 5px;
}

.dropdownMenu {
  background: $header-dropdown-bg;
  color: $white;
}
