@import '../../styles/app';

.navbar {
  align-items: flex-end;
  height: 62px;

  .nav {
    li {
      a:hover,
      a:active,
      a:focus {
        background-color: transparent;
      }
    }
  }
}

.alert {
  display: block;
  margin: 6px 20px 16px;
  transition: margin-top 0.2s ease;
  background: $text-transparent;
  border: none;
  font-size: 0.75rem;
  line-height: 20px;
  padding: 2px 8px 0;
  color: #f8f8f8;
  border-radius: 10px;

  button {
    color: #f8f8f8;
    font-weight: bold;
  }
}

.navbarForm {
  padding: 6px 0;
  margin-left: 10px;
  width: 200px;
  transition: width 0.2s ease-in-out;

  .inputAddon {
    border: none;
    background-color: transparentize($text-transparent, 0.1);
    transition: background-color ease-in-out 0.15s;
  }

  input {
    font-size: 13px;
    color: $widget-color;
    background-color: transparentize($text-transparent, 0.1);
    border: none;
    padding: 0.6rem 0.85rem 0.6rem 0;
    min-height: 30px !important;
  }

  &:focus {
    width: 240px;
    @include box-shadow(inset 0 1px 1px rgba(0, 0, 0, 0.075));
  }
}

.divider {
  display: block;
  height: 38px;
  width: 1px;
  margin: 0 20px;
  background: linear-gradient(rgba($text-transparent, 0), $text-transparent, rgba($gray, 0));
}

.dropdownNavIcon {
  color: $text-transparent;
  padding: 0;
  font-size: 1.2rem;
  outline: 0;
  background: none;
  text-align: center;
  vertical-align: middle;
  line-height: 36px;
  text-shadow: none;

  &:hover {
    color: $white;
  }
}

.image {
  float: left;
  width: 40px;
  margin-top: 7px;
}

.imageAccount {
  width: 50px;
  margin-right: 5px;
}

.dropdownMenu {
  background: $header-dropdown-bg;
  color: $white;

  &:after {
    left: auto !important;
    right: 15px;
  }
}

.messages {
  button {
    display: flex;
    height: 60px;
    font-weight: $font-weight-base;

    &:last-child {
      height: 25px;
      justify-content: center;
    }
  }

  .details {
    margin-left: 10px;
    margin-top: 7px;

    .text {
      font-size: 0.75rem;
      color: #ddd;
    }
  }
}

.support {
  button {
    display: flex;
    padding: 5px 10px;
    font-weight: $font-weight-base;
    font-size: 0.75rem;

    &:last-child {
      justify-content: center;
    }

    .details {
      margin-left: 3px;
    }
  }
}

.account {
  width: 180px;

  section {
    padding: 5px 10px;
    font-weight: normal;
  }

  button {
    padding: 7px 10px;
    font-weight: $font-weight-thin;

    a {
      color: $white;
      padding: 0;
    }

    i {
      margin-right: 3px;
    }
  }
}

.settings {
  border-radius: 3px !important;
  width: 122px;
  font-size: 0.75rem;
  text-align: center;
  min-width: auto;
  left: -40px !important;

  &:after {
    right: 56px !important;
    left: auto;
  }
}

.count {
  position: absolute;
  bottom: 6px;
  right: 4px;
  font-size: 0.56rem;
  font-weight: normal;
  background: rgba(51, 51, 51, 0.55);
  color: rgba(255, 255, 255, 0.9);
  line-height: 1em;
  padding: 2px 4px;
  border-radius: 10px;
}