@import '../../../../styles/app';

.bigStatTitle {
  width: 200px;
  margin-right: 0.5rem;
}

.bigStatProduct {
  margin-left: 0.5rem;
  font-size: 0.78em;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0.02em;
  color: rgba($white, 0.75);
}

.borderTop {
  border-top: 1px solid $bg-custom-dark;
}

.borderRight {
  border-right: 1px solid $bg-custom-dark;
}
