@import '../../styles/app';

.root {
  position: absolute;
  width: $sidebar-width-open;
  margin: 80px 0 0 25px;
  padding: 10px 0;
  color: $sidebar-color;

  &:not(.show) {
    @media (max-width: 767px) {
      overflow: hidden;
      height: 0;
    }
  }

  @media (max-width: 767px) {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 90px 5%;
    width: 90%;
    padding: 0;
  }
}

.nav {
  padding: 0;
  margin: 0;
  overflow-y: auto;
}

.navTitle {
  margin: 35px 0 5px 20px;

  @media (max-width: 767px) {
    display: none;
  }
}

.actionLink {
  color: #aaa;
  float: right;
  margin-right: 15px;
  margin-top: 1px;
}

.labelName {
  opacity: 1;
}

.glyphiconSm {
  font-size: 9px;
}

.sidebarLabels {
  list-style-type: none;
  padding: 10px 20px;
  margin: 0;
  color: rgba(255, 255, 255, 0.8);

  > li + li {
    margin-top: 0.5rem;
  }

  li > a {
    text-decoration: none;
    font-weight: normal;
    padding: 0;

    > i {
      font-size: 11px;
      vertical-align: 1px;
      margin-left: 4px;
      margin-right: 8px;
    }
  }

  li:hover {
    color: #fff;
  }

  @media (max-width: 767px) {
    display: none;
  }
}

.sidebarAlerts {
  opacity: 1;

  @media (max-width: 767px) {
    display: none;
  }

  :global(.alert .close) {
    font-size: 14px;
    outline: none;
    opacity: 1;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: none;
  }
}

.sidebarAlert {
  background: transparent;
  margin-bottom: 0;
  padding: 0.5rem 12px 0.5rem 20px;
  font-size: 0.8rem;
}

.sidebarProgress {
  background: rgba(0, 0, 0, 0.15);
  margin-bottom: 0;
}
