@import '../../styles/app';

.errorPage {
  min-height: 100vh;
}

.errorContainer {
  text-align: center;
}

.errorBtn {
  min-width: 135px;
}

.errorCode {
  margin: 0 0 12px;
  font-size: 84px;
  font-weight: $font-weight-semi-bold;
  color: $text-color;
  line-height: 1;

  @include media-breakpoint-up(md) {
    font-size: 130px;
  }
}

.errorInfo {
  margin-bottom: 0.5rem;
  font-size: 18px;
  color: $text-color;
}

.errorHelp {
  color: $text-muted;
  font-size: 14px;
  margin-bottom: 1rem;
}

.actions {
  display: flex;
  gap: 0.75rem;
  justify-content: center;
}
